<div class="container mt-5">
   <h1 class="mb-4">Stupid Coaching</h1>

   <div class="alert alert-info">
      <h2>Your Question:</h2>
      <p><%= @question %></p>
   </div>

   <div class="alert alert-success">
      <h2>Coach's Answer:</h2>
      <p><%= @answer %></p>
   </div>

  <%= link_to 'Ask a new question', ask_path %>
</div>
