<div class="container mt-5">
  <h2 class="mb-4">Ask a Question</h2>

  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
